﻿@using System
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model IEnumerable<Suitsupply.Catalog.Web.App.Models.ProductViewModel>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    <a asp-action="Add">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Preview</th>
            <th>Name</th>
            <th>Last updated</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><img src="@($"{Configuration.GetValue<string>("ImageApiUrl")}/Images/{item.Id}")" width="32" alt="" /></td>
                <td>@item.Name</td>
                <td>@item.LastUpdated.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
